nav{
    display: flex;
    align-items: center;
}
nav h3{
    color: white;
    margin: 0;
    margin-top: 23px;
}
nav img{
    width: 50px;
    margin-top: 10px;
}
.container-logo{
    display: flex;
    
    margin-left: 20px;
}
nav a{
    color: white;
    margin-left: 20px;
}
.central-nav{
    display: flex;
    color: white;
    margin-left: 370px;
    margin-top: 13px;
}
