
.brand-text, .navbar-brand, .banner-text{
    font-family: 'Courier New', Courier, monospace;
}
.navbar-menu, .navbar-login{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conteudo h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form{
    font-family: sans-serif;
}