.banner-text{
    font-family: 'Courier New', Courier, monospace;
}
.brand-text{
    font-family: 'Courier New', Courier, monospace;
}
.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
}
.navbar-menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-login {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conteudo h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form{
    font-family: sans-serif;
}