
.brand-text, .navbar-brand, .banner-text{
    font-family: 'Courier New', Courier, monospace;
}

.conteudo h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form{
    font-family: sans-serif;
}